/* MOBILE VIEW */
/* navigation */ 
.skip a{
  font-family: Poppins-bolditalic, sans-serif;
  background-color: white;  
  position: absolute;
  top: -40px;
}

.skip a:focus{
  top: 20px;
}

body {
  background-image: url("../images/vt2.JPG");
  background-color: #F5E7A6;
  margin: 0px;
  color: black;
 }

ul {
font-family: Poppins-bold, sans-serif;
font-size: 100%;
background-color: #284C81;
list-style-type: none;
margin: 0;
padding: 0px;
padding-bottom: 15px;
overflow: hidden;
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

li a {
  display: inline-block;
  width: 100px;
  color: white;
  text-align: center;
  /* padding: 10px; */
  text-decoration: none;
  /* border: solid 1px white; */
}

li img{
  margin: 0px;
  padding: 10px;
  width: 95%;
}

li a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
  font-family: Poppins-bolditalic, sans-serif;
}

h1{
  font-family: Poppins-bolditalic, sans-serif;
  font-size: 25px;
}

/* flex text */
.container{
  display: flex;
  font-family: Poppins-bold, sans-serif;
  flex-direction: column;
}

.grid-item1{
  background-color:#284C81;
  border-radius: 25px;
  color: white;
  padding: 40px 40px 40px 40px;
  margin: 10%;
}

.grid-item2{
  background-color: #284C81;
  border-radius: 25px;
  color: white;
  padding: 40px 40px 40px 40px;
  margin: 10%;
}

footer{
  display: flex;
  align-items: center;
  background-color: #284C81;
}

footer a{
  display: flex;
  justify-content: center;
}

/* TABLET VIEW */
@media screen and (min-width: 820px){
}
ul {
  font-size: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
}

li img{
  width: 60%;
  padding: 20px 0px 0px 20px;
}

.grid-item1{ 
  margin: 5% 5% 2% 5%;
}

.grid-item2{
  margin: 2% 5% 5% 5%;
}

footer{
  justify-content: center;
}

/* WEBPAGE VIEW */
@media screen and (min-width: 1024px){
  ul {
    font-size: 25px;
    align-content: center;
  }

  li{
    padding-top: 20px;
    padding-left: 10px;
  }

  li a{
    width: 150px
  }

  li img{
    width: 50%;
  }

  h1{
    font-size: 30px;
  }

  .container{
    display: flex;
    font-family: Poppins-bold, sans-serif;
    flex-direction: column;
  }

  .grid-item1{
    font-size: 130%;
    margin: 5% 15% 0% 15%;
  }
  
  .grid-item2{
    font-size: 130%;
    margin: 3% 15% 5% 15%;
  }

  .background2{
    padding: 0%;
  }

}