/* MOBILE VIEW */
/* navigation */
.skip a{
  font-family: Poppins-bolditalic, sans-serif;
  background-color: white;  
  position: absolute;
  top: -40px;
}

.skip a:focus{
  top: 20px;
}

body {
  background-color: #F5E7A6;
  margin: 0px;
  color: white;
 }

ul {
  font-family: Poppins-bold, sans-serif;
  font-size: 12px;
  background-color: #284C81;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  padding-bottom: 15px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li{
  align-content: center;
}

li a {
  display: inline-block;
  width: 100px;
  color: white;
  text-align: center;
  /* padding: 10px; */
  text-decoration: none;
  /* border: solid 1px white; */
}

li img{
  align-items: center;
  padding: 10px;
  width: 95%;
}

li a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
  font-family: Poppins-bolditalic, sans-serif;
}

 /* form & tinkered toy box photo */
 .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.grid-item1{
  grid-area: 2/2/3/3;
  font-family: Poppins-bold, sans-serif;
  color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 25px;
  background-color:#284C81;
  padding: 30px;
  margin: 20px;
}

.grid-item2{
  display: none;
}

h1{
  font-family: Poppins-bolditalic, sans-serif;
  font-size: 30px;
  color: #284C81;
  margin: 0px 20px 20px 20px;
  text-align: center;
}

/* TABLET VIEW */
@media screen and (min-width: 820px){
}
ul {
  font-size: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
}

li img{
  width: 60%;
  padding: 20px 0px 0px 20px;
}

/* WEBPAGE VIEW */
@media screen and (min-width: 1024px){
  ul {
    font-size: 25px;
    align-content: center;
  }

  li{
    padding-top: 20px;
    padding-left: 10px;
  }

  li a{
    width: 150px
  }

  li img{
    width: 50%;
  }
}